
.h{
	height:auto;
}
.w{
	width:100%;
}
.h30{
	height:30px;
}
.bb1{
	border-bottom:1px solid #e4e4e4;
}
.bcfa{
	background-color:#fafafa;
}
.lh30{
	line-height:30px;
}
.mt30{
	margin-top:30px;
}
.m{
	margin:0px auto;
}
.w1200{
	width:1200px;
}
.h120{
	height:120px;
}
.ov{
	overflow:hidden;
}
.w420{
	width:420px;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.w85{
	width:85px;
}
.f12{
	font-size:12px;
}
.mt8{
	margin-top:8px;
}
.mt4{
	margin-top:4px;
}
.f14{
	font-size:14px;
}
.ml20{
	margin-left:20px;
}
.mt23{
	margin-top:23px;
}
.header_d1{
	width:14px;
	height:14px;
	background-position:-67px -836px;
	background-repeat:no-repeat;
	background-image:url('../images/icon-189-indexv2.png');
}
.ml20{
	margin-left:20px;
}

a:link{
	color:#777;
	text-decoration:none;
}
.ml16{
	margin-left:16px;
}
.lh28{
	line-height:28px;
}
.color1{
	color:#7d8b8c;
}
.w90{
	width:90px;
	
}
.login_ul li{
	float:left;
	
}
.w190{
	width:190px;
}
.h420{
	height:420px;
}
.cfe{
	background-color:#feda60;
}
ul,li{
	list-style:none;
}
.header_d2{
	width:12px;
	height:14px;
	
	margin:8px 4px 0px;
	background-image:url('../images/icon-189-indexv2.png');
	background-position:-103px -836px;
	background-repeat:no-repeat;
}
.header_d3{
	width:12px;
	height:14px;
	margin:8px 4px 0px;
	background-image:url('../images/icon-189-indexv2.png');
	background-position:-137px -837px;
	background-repeat:no-repeat;
}
.header_d4{
	width:15px;
	height:14px;
	margin:8px 4px 0px;
	background-image:url('../images/icon-189-indexv2.png');
	background-position:-175px -836px;
	background-repeat:no-repeat;
}
.header_d5{
	width:15px;
	height:14px;
	margin:8px 4px 0px;
	background-image:url('../images/icon-189-indexv2.png');
	background-position:-207px -837px;
	background-repeat:no-repeat;
}
.header_d6{
	width:15px;
	height:14px;
	margin:8px 4px 0px;
	background-image:url('../images/icon-189-indexv2.png');
	background-position:-246px -837px;
	background-repeat:no-repeat;
}
.header_d7{
	width:25px;
	height:28px;
	
	background-image:url('../images/icon-189-indexv2.png');
	background-position:-230px -74px;
	background-repeat:no-repeat;
}
.mr10{
	margin-right:10px;
}
.header_d2_right{
	width:8px;
	height:4px;
	background-image:url('../images/icon-189-indexv2.png');
	background-position:-281px -839px;
	background-repeat:no-repeat;
}
.header_d2_right2{
	width:8px;
	height:4px;
	background-image:url('../images/icon-189-indexv2.png');
	background-position:-317px -839px;
	background-repeat:no-repeat;
}
.login_ul{
	position:relative;
}
.mt15{
	margin-top:15px;
}
.ml6{
	margin-left:6px;
}
.ccc{
	color:#ccc;
}
.mr4_ml8{
	margin-left:8px;
	margin-right:4px;
}
.ml10{
	margin-left:10px;
}

#dis_no_1{
	border:1px solid #e4e4e4;
	width:90px;
	height:60px;
	background-color:white;
	position:absolute;
	display:none;
	left:1px;
	box-shadow:0px 0px 3px #ccc;
}
#dis_no_2{
	width:209px;
	height:94px;
	border:1px solid #e4e4e4;
	border-top:0px solid;
	background-color:white;
	display:none;
	padding:8px;
	position:absolute;
	top:30px;
	left:91px;
	
}
#dis_no_3{
	width:112px;
	height:128px;
	
	border:1px solid #e4e4e4;
	border-top:0px solid;
	background-color:white;
	position:absolute;
	display:none;
	left:373px;
	box-shadow:0px 0px 3px #ccc;
}
.head_li:hover{
	color:#ff8200;
}
.head_li_un:hover{
	color:#ff8200;
	text-decoration:underline;
	
}
#gg_1{
	width:100%;
	background-image:url('../images/gg.jpg');
	position:relative;
}
.z111{
	z-index:111;
}
#closeDiv{
	position:absolute;
	display:none;
	right:3px;
	top:3px;
}
#logo_l{
	
	margin-left:-50px;
	width:313px;
	height:121px;
}
#area{
	width:66px;
	height:23px;
	
	margin-top:52px;
	margin-left:-10px;
	padding-left:15px;
	padding-top:6px;
	background-image:url('../images/icon-189-indexv2.png');
	background-repeat:no-repeat;
	background-position:-230px -19px;
	position:relative;
}
#areas{
	position:absolute;
	border:1px solid #e4e4e4;
	top:28px;
	padding:10px;
	left:0px;
	width:400px;
	background-color:white;
	display:none;
}

#areas ul li{
	float:left;
	margin-right:15px;
}
#area_a{
	display:block;
	margin-top:6px;
	
}
#search{
	width:550px;
	float:left;
	height:90px;
	margin:15px 32px;
	
}
#search_ul{
	height:32px;
	margin-top:2px;
}
#search_ul li{
	float:left;
	width:80px;
	height:32px;
	text-align:center;
	line-height:32px;
	cursor:pointer;
	
}
.search_ul_li{
	background-color:#ff8200;
	color:white;
}
#search_middle{
	height:34px;
	width:546;
	border:2px solid #ff8200;
	position:relative;
}
#se_mi_a{
	display:block;
	height:36px;
	width:80px;
	background-color:#ff8200;
	text-align:center;
	line-height:36px;
	padding-left:10px;
	margin-right:-1px;
	margin-top:-1px;
	color:white;
	letter-spacing:8px;
	
}
#in_1{
	width:425px;
	height:25px;
	border:0px;
	margin-top:4px;
}
#in_1:focus{
	outline:none;
}
#search_span{
	position:absolute;
	display:block;
	top:9px;
	left:32px;
	color:#dddddd;
}
#search_foot li{
	float:left;
	margin-right:18px;
	color:#999999;
}
.c_c{
	color:#ff8200;
}
#search_img{
	width:251px;
	height:76px;
	margin:22px 0px;
}
#menu{
	width:100%;
	background-color:#ff8200;
	height:45px;
	margin-top:1px;
}
#con{
	display:relative;
}
#menu_l{
	height:45px;
	margin-right:20px;
	width:190px;
	background-image:url('../images/icon-189-indexv2.png');
	background-position:-223px -716px;
	background-repeat:no-repeat;
	cursor:pointer;
}
#menu_down{
	width:190px;
	height:420px;
	position:absolute;
	margin-top:45px;
	
}

#menu_down ul li{
	width:129px;
	height:59px;
	border:1px solid #e8e8e8;
	border-top:0px;
	background-color:#fafafa;
	padding-left:60px;
	
	font-size:14px;
	color:#6d6d6d;
	
}
.menu_down_li{
	line-height:59px;
}
.menu_down_s{
	color:#666666;
	font-weight:bold;
	margin-top:18px;
	width:70px;
	float:left;
	margin-right:8px;
}
.menu_down_d{
	width:560px;
	height:70px;
	margin:0px 20px;
	border-bottom:1px solid #EEEEEE;
}
.menu_down_d2{
	width:560px;
	height:50px;
	margin:0px 20px;
	border-bottom:1px solid #EEEEEE;
}
.menu_down_l{
	
	width:450px;
	float:left;
	margin-top:12px;
	line-height:28px;
}
.span_s{
	margin:0px 10px;
}
.menu_down_div{
	position:absolute;
	border:1px solid #dbddbd;
	border-left:0px;
	width:600px;
	height:420px;
	top:0px;
	background-color:#fff;
	left:191px;
	box-shadow:#ccc 3px 1px 2px;
	display:none;
	
	
}
#li1:hover{
	background-color:#fff;
	background-image:url('../images/icon-189-indexv2.png');
	background-repeat:no-repeat;
	background-position:-1px -95px;
}
#li2:hover{
	background-color:#fff;
	background-image:url('../images/icon-189-indexv2.png');
	background-repeat:no-repeat;
	background-position:-1px -206px;
}
#li3:hover{
	background-color:#fff;
	background-image:url('../images/icon-189-indexv2.png');
	background-repeat:no-repeat;
	background-position:-1px -318px;
}
#li4:hover{
	background-color:#fff;
	background-image:url('../images/icon-189-indexv2.png');
	background-repeat:no-repeat;
	background-position:-1px -428px;
}
#li5:hover{
	background-color:#fff;
	background-image:url('../images/icon-189-indexv2.png');
	background-repeat:no-repeat;
	background-position:-1px -539px;
}
#li6:hover{
	background-color:#fff;
	background-image:url('../images/icon-189-indexv2.png');
	background-repeat:no-repeat;
	background-position:-1px -649px;
}
#li7:hover{
	background-color:#fff;
	background-image:url('../images/icon-189-indexv2.png');
	background-repeat:no-repeat;
	background-position:-1px -761px;
}
.menu_down_bg1{
	background-image:url('../images/icon-189-indexv2.png');
	background-repeat:no-repeat;
	background-position:-6px -39px;
}
.menu_down_bg2{
	background-image:url('../images/icon-189-indexv2.png');
	background-repeat:no-repeat;
	background-position:-1px -150px;
}
.menu_down_bg3{
	background-image:url('../images/icon-189-indexv2.png');
	background-repeat:no-repeat;
	background-position:-1px -262px;
}
.menu_down_bg4{
	background-image:url('../images/icon-189-indexv2.png');
	background-repeat:no-repeat;
	background-position:-1px -372px;
}
.menu_down_bg5{
	background-image:url('../images/icon-189-indexv2.png');
	background-repeat:no-repeat;
	background-position:-1px -483px;
}
.menu_down_bg6{
	background-image:url('../images/icon-189-indexv2.png');
	background-repeat:no-repeat;
	background-position:-1px -593px;
}
.menu_down_bg7{
	background-image:url('../images/icon-189-indexv2.png');
	background-repeat:no-repeat;
	background-position:-1px -705px;
}
.menu_down_l a:hover{
	color:#ff8200;
}
.aftermarket a:hover{
	color:#ff8200;
	text-decoration:underline;
}
.menu_c_bg{
	float:left;
	line-height:46px;
	width:90px;
	height:45px;
	text-align:left;
	color:#fff;
	cursor:pointer;
	padding-left:30px;
}
.h270w181{
	width:270px;
	height:200px;
}
.menu_c_bg_1{
	background-image:url('../images/icon-189-indexv2.png');
	background-repeat:no-repeat;
	background-position:-217px -519px;
	font-weight:bold;
}
#menuc_li{
	background-image:url('../images/icon-189-indexv2.png');
	background-repeat:no-repeat;
	background-position:-217px -519px;
}

#menu_r ul li{
	float:left;
	line-height:45px;
	color:#fff;
	font-size:13px;
}
#menu_r a{
	color:#fff;
	
}
#menu_r a:hover{
	text-decoration:underline;
}
.menu_r_li{
	width:16px;
	height:16px;
	margin-top:14px;
	background-image:url('../images/icon-189-indexv2.png');
	background-repeat:no-repeat;
	background-position:-231px -186px;
}
#menu_fr{
	width:224px;
	height:409px;
	position:relative;
	border:1px solid #e4e4e4;
	float:right;
	top:50px;
	right:-98px;
	background-color:#fff;
}
#menu_fr_head{
	width:224px;
	height:195px;
	
}
.top_li{
	
}
#menu_fr_top{
	height:29px;
	width:100%;
	background-color:#f4f4f4;
	font-size:14px;
	color:#717171;
	
}
#menu_fr_scroll{
	width:224px;
	height:165px;
	border:1px solid red;
}
#t_li{
	float:left;
	height:29px;
	padding-left:30px;
	line-height:29px;
	cursor:pointer;
	margin-left:16px;
}
#t_li2{
	float:left;
	height:29px;
	padding-left:30px;
	line-height:29px;
	cursor:pointer;
	
}
.top_li_10{
	background-image:url('../images/icon-189-indexv2.png');
	background-repeat:no-repeat;
	background-position:-216px -217px;
	
}
.top_li_10 a span{
	color:#ff8201;
}
.top_li_31{
	background-image:url('../images/icon-189-indexv2.png');
	background-repeat:no-repeat;
	background-position:-216px -253px;
}
.top_li_20{
	background-image:url('../images/icon-189-indexv2.png');
	background-repeat:no-repeat;
	background-position:-216px -288px;
}
.top_li_21{
	background-image:url('../images/icon-189-indexv2.png');
	background-repeat:no-repeat;
	background-position:-217px -324px;
}
.top_li_21 a{
	color:#ff8201;
}
#bg{
	position:relative;
}
#bg_ul{
	width:159px;
	height:22px;
	position:absolute;
	padding-left:10px;
	left:44%;
	top:390px;
	background-image:url('../images/icon-189-indexv2.png');
	background-position:-231px -153px;
	background-repeat:no-repeat;
	background-color:#e5e5e5;
	border-radius:10px;
	background-color:#eeeeee;
}
#bg_ul a{
	width:16px;
	height:16px;
	display:block;
	margin:3px 6px 0px 0px;
	
	float:left;
}
.bg_a{
	background-position:-246px -117px;
	background-image:url('../images/icon-189-indexv2.png');
}
.bg_a1{
	background-position:-230px -117px;
	background-image:url('../images/icon-189-indexv2.png');
}
.a1{
	background-image:url('../images/bg_1.jpg');
	display:block;
	height:420px;
	width:100%;
	background-position:-320px 0px;
	
}
.a2{
	background-image:url('../images/bg_2.jpg');
	display:block;
	height:420px;
	width:100%;
	background-position:-320px 0px;
}
.a3{
	background-image:url('../images/bg_3.jpg');
	display:block;
	height:420px;
	width:100%;
	background-position:-320px 0px;
}
.a4{
	background-image:url('../images/bg_4.jpg');
	display:block;
	height:420px;
	width:100%;
	background-position:-320px 0px;
}
.a5{
	background-image:url('../images/bg_5.jpg');
	display:block;
	height:420px;
	width:100%;
	background-position:-320px 0px;
}
.a6{
	background-image:url('../images/bg_6.jpg');
	display:block;
	height:420px;
	width:100%;
	background-position:-320px 0px;
}
.a7{
	background-image:url('../images/bg_7.jpg');
	display:block;
	height:420px;
	width:100%;
	background-position:-320px 0px;
}
#fish_top{
	width:300px;
	height:30px;
	font-size:36px;
	background-color:#fff;
	
}
#dock{
	clear:both;
	width:1236px;
	height:240px;
	position:relative;
	top:0px;
	left:0px;
	border:0px solid red;
	margin:0px auto;
	margin-top:-20px;
}
.dock_container{
	position:absolute;
	height:200px;
	border:0px solid yellow;
	
}
.dock_items {
	display: block; 
	font:12px Arial, Helvetica, sans-serif;
	width: 30px; 
	color: #777777; 
	bottom: 0px; 
	position: absolute;
	text-align: center;
	text-decoration: none;
	border:0px solid blue;
}
.pt20{
	padding-top:20px;
}
.h80{
	height:80px;
}
.w97{
	width:97px;
}
.tc{
	text-align:center;
}
.br_img{
	background-position:-302px -199px;
}
.h100{
	height:100px;
}
.h420 {
    height: 420px;
}
.w190 {
    width: 190px;
}
.fl {
    float: left;
    display: inline;
}
.cff9{
	background-color:#ff9767;
}
.h420 {
    height: 420px;
}
.w190 {
    width: 190px;
}
.cd2{
	background-color:#d2ea78;
}
.bcab{
	background-color:#abd738;
}
.fl {
    float: left;
    display: inline;
}
.c9d{
	background-color:#9de090;
}
.bc62{
	background-color:#62c751;
}
.c1b{
	background-color:#1ba5e4;
}
.bc55{
	background-color:#55cdf0;
}
.bcff{
	background-color:#ffba24;
}
.bcff5{
	background-color:#ff5c2b;
}
.bcf5{
	background-color:#f5f5f7;
}
.mt70{
	margin-top:70px;
}
.dock_items span {
	display: none;
}
.dock_items img {
	border: none; 
	margin: 5px 0px 0px; 
	width: 100%; 
}
.sports_geeks{
	height:468px;
	width:100%;
}
.sports_geeks_title{
	height:50px;
}
.af a p{
	color:#fff;
	font-weight:bold;
}
.pl20{
	padding-left:20px;
}
.pt10{
	padding-top:10px;
}
.w606{
	width:606px;
}
.w403{
	width:403px;
}
.h418{
	height:418px;
}
.l_bj{
	background-position:-217px -863px;
}
.sps_gk_ul{
	background-image:url('../images/icon-189-indexv2.png');
	background-repeat:no-repeat;
}
.sps_gk_ul li{
	float:left;
	color:#fff;
	font-weight:600;
	height:25px;
	width:85px;
	line-height:25px;
}
.sps_gk_ul li a{
	color:#fff;
}
.sps_gk_n_right_a li{
	height:253px;
}
.sps_gk_n_right_b li{
	height:165px;
}

.bt1{
	border-top:1px solid #e4e4e4;
}
.bb1{
	border-bottom:1px solid #e4e4e4;
}
.br1{
	border-bottom:1px solid #e4e4e4;
}
.bl1{
	border-bottom:1px solid #e4e4e4;
}
.sps_gk_n_right_a li, .sps_gk_n_right_b li{
	float:left;
	border-left:1px solid #e4e4e4;
	border-top:1px solid #e4e4e4;
	width:201px;
	text-align:center;
}
.w201{
	width:201px;
}
.h253{
	height:253px;
}
.h164{
	height:164px;
}
.fb600{
	font-weight:600;
}
.c4b a{
	color:#4b4b4b;
}
.pt40{
	padding-top:40px;
}
.pl100{
	padding-left:100px;
}
.ml15{
	margin-left:15px;
}
.f20{
	font-size:20px;
}
.f16{
	font-size:16px;
}
.dpl{
	display:inline-block;
}
.guarantee li{
	float:left;
	width:210px;
}
.pt30{
	padding-top:30px;
}
.pb30{
	padding-bottom:30px;
}
.bcfoot{
	border-top:1px solid #eee;
}
.ml70{
	margin-left:70px;
}
.mr50{
	margin-right:50px;
}
.w140{
	width:140px;
}
.aftermarket li{
	float:left;
	font-size:12px;
	line-height:24px;
	width:127px;
}
.advisory li{
	float:left;
	font-size:12px;
	text-align:center;
	width:70px;
}
.mt9{
	margin-top:9px;
}
.mt45{
	margin-top:47px;
}
.single{
	margin-top:140px;
}
.bellows__header{
	color:#fff;
	position:relative;
	
}

#lx_nav2 li{
	float:left;
	font-size:14px;
	color:#777;
	display:block;
	margin-right:20px;
	cursor:pointer;
}
.bellows__contenta li,.bellows__content li{
	float:left;
	margin-top:12px;
	min-width:40px;
	width:auto;
	display:block;
	font-size:12px;
	
}
.bellows__content li span, .bellows__contenta li span{
	font-size:12px;
	color:#999;
	padding:0px 5px;
}
.foot_img{
	margin-left:316px;
	margin-top:15px;
	padding-bottom:30px;
}
.tran{
	transition-property: transform, opacity;
	transition-duration: 1s, 0s;
	transform-origin: 50% 50% 0px;
}
.tran:hover{
	transform: rotate(720deg);
	opacity: .9;
}
.mar_r{
	transition-property: margin,opacity;
	transition-duration: 0.15s, 0s;
	transition-timing-function:linear;
}
.mar_r:hover{
	margin-right:8px;
	opacity: .8;
}
#lx_nav1 .li01, #lx_nav1 .li02{
	border-right:1px solid #e4e4e4;
	text-align:center;
	font-size:12px;
	width:55px;
}
.li2{
	color:#ff8201;
}
#lx_nav1 li{
	float:left;
	height:15px;
	line-height:15px;
	cursor:pointer;
}
.ml18{
	margin-left:18px;
}
#lx_nav3 .li01, #lx_nav4 .li01, #lx_nav5 .li01, #lx_nav6 .li01{
	color:#ff8201;
}
#lx_nav3 li, #lx_nav4 li, #lx_nav5 li, #lx_nav6 li{
	float:left;
}
.lx-con li{
	margin-top:5px;
}
.cp{
	cursor:pointer;
}
.recharge{
	min-height:86px;
	overflow:visible;
	height:auto;
}
.pb15{
	padding-bottom:15px;
}
.parentCls{
	z-index:266px;
}
.mr4{
	margin-right:4px;
}
.h20{
	height:20px;
}
.w46{
	width:46px;
}
.tr{
	text-align:right;
}
.mt7{
	margin-top:7px;
}
.h21{
	height:21px;
}
.w64{
	width:64px;
}
.pa{
	position:absolute;
}
.ln21{
	line-height:21px;
}
.l_bjc{
	background-position:-199px -569px;
	background-image:url('../images/icon-189-indexv2.png');
}
.li01{
	color:#777;
	font-weight:bold;
}
.recharge input, .recharge select{
	color:#777;
	font-size:12px;
}
.pl10{
	padding-left:10px;
}
.w115{
	width:115px;
}
.bd{
	border:1px solid #e4e4e4;
}
.h2{
	height:2px;
}
.w224{
	width:224px;
}
.scroll_horizontal_a .prev{
	left:0px;
	background-position:-240px -365px;
}
.scroll_horizontal_a .next{
	right:0px;
	background-position:-229px -365px;
}
.scroll_horizontal_a .prev, .scroll_horizontal_a .next{
	z-index:99;
	position:absolute;
	top:28%;
	margin-top:-25px;
	width:11px;
	height:36px;
	background-image:url('../images/icon-189-indexv2.png');
	cursor:pointer;
}
.w67{
	width:67px;
}
.lh26{
	line-height:26px;
}
.scroll_horizontal_a .box{
	overflow:hidden;
	position:relative;
	width:224px;
	height:165px;
	margin:0 auto;
	font-size:12px;
}

.input_mt-2{
	margin-top:-2px;
}
.vam{
	vertical-align:middle;
	width:12px;
	height:12px;
}
.ff8{
	color:#ff8201;
}
.scroll_horizontal_a .list{
	width:99999px;
}
.scroll_horizontal_a .list li{
	float:left;
	width:224px;
	height:165px;
	
}
.a_img{
	width:67px;
	height:77px;
}
.a_img img{
	width:40px;
	height:35px;
}
.ml13{
	margin-left:13px;
}
.mt10{
	margin-top:10px;
}
.mt5{
	margin-top:5px;
}
.ml25{
	margin-left:25px;
}
.h25{
	height:25px;
}
.w100{
	width:100px;
}
.br{
	border-radius:4px;
}
.bcff8201{
	background-color:#ff8201;
}
.cf{
	color:#fff;
}
.ccc_a a{
	color:#999;
}
.list_img img{
	margin-top:7px;
}
a:link{
	text-decoration:none;
}
.lh25{
	line-height:25px;
}
.w54{
	width:54px;
}
#jin{
	width:55px;
	height:18px;
	margin-left:4px;
	padding-left:15px;
	padding-top:3px;
	margin-top:-3px;
	background-image:url('../images/icon-189-indexv2.png');
	background-repeat:no-repeat;
	background-position:-236px -24px;
	position:relative;
	border:1px solid #e4e4e4;
	cursor:pointer;
}
#jins{
	position:absolute;
	border:1px solid #e4e4e4;
	top:331px;
	left:54px;
	background-color:white;
	display:none;
	width:70px;
}
#jins li{
	width:70px;
	text-align:center;
	cursor:pointer;
	line-height:18px;
}
#jins li a:hover{
	color:#ff8201;
}
#jins li:hover{
	background-color:#EEE;
}
.l_bjc{
	background-position:-199px -569px;
	background-image:url('../images/icon-189-indexv2.png');
	margin-top:188px;
}
.gg a{
	background-position:-279px -639px;
	background-image:url('../images/icon-189-indexv2.png');
	padding-left:20px;
}
.gg_a a:hover{
	color:#ff8201;
}
.pr10{
	padding-right:10px;
}
.w20{
	width:20px;
}
.w75{
	width:75px;
}
.bellows__contenta a:hover{
	color:#ff8201;
	text-decoration:underline;
}
.top{
	width:35px;
	font-weight:400;
	height:32px;
	position:fixed;
	z-index:333;
	top:85%;
	left:97%;
	border-radius:5px;
	padding-top:6px;
	background-color:#e4e4e4;
	
}
.top:hover{
	background-color:#ff8201;
	color:#fff;
}
.top:hover div{
	font-weight:400;
	color:#fff;
}